SOURCES/postgresql-13.16.tar.bz2.sha256
SOURCES/postgresql-setup-8.6.tar.gz
SOURCES/postgresql-12.20.tar.bz2
SOURCES/postgresql-12.20.tar.bz2.sha256
SOURCES/postgresql-13.16-US.pdf
SOURCES/postgresql-13.16.tar.bz2
